// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
	font: italic bold 34px Georgia,serif;
	margin-bottom:0px; margin-top:5px;
	background-color:rgb(100,250,100);
}

h2 { font: italic bold 24px Georgia,serif; }

sidebar
{
	width:140px; font: 14px Sans,serif;
	position:fixed; right: 10px; top: 10px;
	display:inline-block;
}

emph1 { font: italic bold 16px Georgia,serif; }

indexBox
{
	position:absolute; width: calc(100% - 170px);
	height: calc(100% - 420px); overflow:scroll;
}

newRes
{
	background-color:rgb(0,255,255); position:fixed; bottom:5px; right:10px;
	font: italic bold 14px Times;
}

tweets
{
	position:absolute; width:250px; height:calc(100% - 80px);
	right:10px; top:80px; overflow:scroll;
}

restaurantInfo
{
	position:fixed; width: calc(100% - 270px);
}

reviews
{
	position:absolute; width: calc(100% - 270px);
	height: calc(100% - 195px); top:195px;
	overflow:scroll;
}

reviewText { font: 14px Sans,serif; }

revUsr { font: 16px Sans,serif; }